<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
  
  <bean id="timekeeperApplication" class="org.tkweb.application.TimeKeeperApplication">
    <property name="root" ref="router" />
  </bean>

  <bean id="basecampComponent" class="org.restlet.ext.spring.SpringComponent">
    <property name="defaultTarget" ref="timekeeperApplication" />
  </bean>

    <!--  Define the router -->
  <bean name="router" class="org.restlet.ext.spring.SpringBeanRouter" />
  
  <!-- Define all the routes -->
  <bean name="/tasks" class="org.tkweb.resource.task.TasksResource" scope="prototype" autowire="byName" />
  
  <bean name="/tasks/{itemName}" class="org.tkweb.resource.task.TaskResource" scope="prototype" autowire="byName" />
  
</beans>
